<!-- Nothing is wrong with my project there is just an error when trying to get access to my database-->
@{
    ViewBag.Title = "Chat";
}



<style type="text/css">
    textarea {
        width: 300px;
        height: 400px;
        max-height: 400px;
        scrollbar-base-color: #ff8c00;
        scrollbar-arrow-color: white;
        resize: none;
        overflow: auto;  
    }
    

</style>
<body style="background-color: #00ff00;">
    <div style="background-color: #0174DF;" class="textarea">
        <table>
            <tr>
                <td>
                    <div id="hello">

                    </div>
                </td>
                <td>
                    <h1 style="margin-left: 500px;" align="right">Buddies</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <!--<textarea readonly id="discussion" rows="7" cols="50"></textarea>-->
                    <div id='chat_area' class="DivToScroll DivWithScroll" style="margin-left: 40px; float: left;" contenteditable></div>
                </td>
                <td>
                    <div class="textarea">
                        <textarea style="float: right; margin-left: 500px;" readonly id="Buddies"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="displayname" />
                    <br />
                    <input style="margin-left: 40px;" type="text" id="message" />
                    
                </td>
            </tr>
            <tr>
                <td>
                    <input style="margin-left: 40px;" type="button" id="sendmessage" value="Send" />
                </td>
            </tr>
        </table>

    </div>


</body>


<script type="text/javascript">
    
    var weatherRef = new Firebase('https://publicdata-weather.firebaseio.com/philadelphia/currently');
    weatherRef.child('temperature').on('value', function (snapshot) {
        console.log('Temperature is currently ' + snapshot.val());
        $('#hello').html('<h1 style="font-family: times, Times New Roman, times-roman, georgia, serif;">Local temperature is currently ' + snapshot.val() + '</h1>');
    });
   
    $(function () {
        //When a user enters the NakamaChat the user will display under Buddies 
        $('#Buddies').val($('#Buddies').val() + "@ViewBag.name\n");
        // Declare a proxy to reference the hub.
        var chat = $.connection.chatHub;
        console.log(chat.name);
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            var actualMessage = encodedName + ' : ' + encodedMsg;
            // Add the message to the page.
            //$('#discussion').append('<li><strong>' + encodedName
            //   + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            if("@ViewBag.name" == name){
                $('#chat_area').append('<p class="triangle-isosceles right">' + actualMessage + '</p>');
            }
            else {
                $('#chat_area').append('<p class="triangle-right left">' + actualMessage + '</p>');
            }
           // $('#discussion').val($('#discussion').val() + encodedName + ": " + encodedMsg + "\n");
        };
        console.log("@ViewBag.name");
        // Get the user name and store it to prepend to messages.
        // $('#displayname').val(prompt('Enter your name:', ''));
        $('#displayname').val("@ViewBag.name");
        console.log($('#displayname').val());
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () { // on click listner for the send message button
                // Call the Send method on the hub.
                chat.server.send($('#displayname').val(), $('#message').val());
                console.log(chat.messages);
                console.log($('#message').val());
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();
            });
        });
    });
</script>