<!--Every view is BOUND/MARRIED to a controller i can not post to another controller-->
<!--I can bring up another view from this view-->
@model Core.User
@{
    ViewBag.Title = "NakamaChat";
    ViewBag.LoginMessage = "Please log in to NakamaChat!";
    //
    Core.User userObject = (Core.User)ViewBag.User;
}



<!-- Form for users to log in to the application, Url.Content brings up a new view -->
<form action="@Url.Content("~/Home/AuthenticateUser")" method="post">
    <table>
        <tr>
            <!--Had to use the "at"  symbol here to echo out-->
            <h5>@ViewBag.LoginMessage</h5>
            <td>Username:</td>
            <!--Passing as a viewbag instead of passing as a model-->
            <td><input id="Username" name="Username" type="text" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="Password" name="Password" type="password" /></td>
        </tr>
    </table>
    <input type="submit" value="Submit">


</form>



