<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="CISC474ConnectionProject3" connectionString="data source=iceman;initial catalog=CISC474;persist security info=True;user id=Admin;password=password" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>